{# <div class="site-mobile-menu site-navbar-target">
  <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close">
      <span class="icofont-close js-menu-toggle"></span>
    </div>
  </div>
  <div class="site-mobile-menu-body"></div>
</div> #}


<nav class="site-nav dark js-site-navbar mb-5 site-navbar-target">
  <div class="container">
    <div class="site-navigation">
      <a href="/" class="logo-container">
        <img src="/images/mediatek_logo.jpg" alt="MEDIATEK Broadband" class="logo-img">
        <span class="logo-text">MEDIATEK AFRICA<span class="text-primary"></span></span>
      </a>

      <ul class="js-clone-nav d-none d-lg-inline-block site-menu">
        <li><a href="#coverage-section" class="nav-link">Coverage</a></li>
        <li><a href="#faq-section" class="nav-link">FAQ</a></li>
        <li><a href="#services-section" class="nav-link">Services</a></li>
        <li><a href="#pricing-section" class="nav-link">Pricing</a></li>
        <li><a href="#about-section" class="nav-link">About</a></li>
      </ul>

      <ul class="js-clone-nav d-none mt-1 d-lg-inline-block site-menu float-right">
        <li class="cta-primary"><a href="#contact-section" class="nav-link">Contact Us</a></li>
      </ul>

      <a href="#" class="burger ml-auto float-right site-menu-toggle js-menu-toggle d-inline-block dark d-lg-none" data-toggle="collapse" data-target="#main-navbar">
        <span></span>
      </a>
    </div>
  </div>
</nav>
