<div class="untree_co-hero pb-0" id="home-section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          {# <div class="dots"></div> #}
          {# <div class="row justify-content-center">
            <div class="col-md-7 text-center mb-5">
              <h1 class="heading" data-aos="fade-up" data-aos-delay="0">{{ home.title }}<span class="d-block">{{ home.subtitle }}<span class="text-primary">.</span></span></h1>
            </div>
          </div> #}
          <div class="row align-items-center">
            <div class="col-lg-4">
              <div class="intro">
                <div class="excerpt" data-aos="fade-up" data-aos-delay="100">
                  <span class="caption">{{ home.caption }}</span>
                  <h2 class="font-weight-bold">{{ home.subtitle }}</h2>
                  <p>{{ home.description }}</p>
                </div>
                <p data-aos="fade-up" data-aos-delay="200">
                  <a href="#features-section" class="btn btn-primary smoothscroll mr-1">{{ home.ctaPrimary }}</a>
                  <a href="#pricing-section" class="btn btn-outline-primary smoothscroll">{{ home.ctaSecondary }}</a>
                </p>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="illustration">
                <img src="{{ home.image }}" alt="Image" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  